# Ignore node_modules folder
node_modules/

# Ignore package-lock.json file
package-lock.json

# Ignore .env file
.env

# Ignore Sessions
db/sessions/

# Ignore DB Json
db/database.json
db/session.data.json